{% extends 'layout.twig' %}

{% block title %}Start looking fly!{% endblock %}

{% block body %}

<div class="hero-unit">
	<h1>{{ pageData.title }}</h1>

	<p>
		{{ pageData.summary }}
	</p>

	{% if pageData.hasSale %}
		<div class="sale-ends-at">
			Sale Ends: {{ saleEndsAt|date( 'D M jS ga') }}
		</div>
	{% endif %}
</div>

<div class="row">
	{% for product in products %}
		<div class="span4">
			<h2>{{ product.name }}</h2>

			<div class="product-img">
				<img src="../assets/images/{{ product.imagePath }}" alt="{{ product.name }}">
			</div>

		</div>
	{% endfor %}

	{% if products|length == 0 %}
		<div class="alert alert-error span12">
			Oh now! We're all out of super-awesome peguin clothes!
		</div>
	{% endif %}
</div>

<div>
	&copy; {{ 'now'|date('Y') }}
</div>
{% endblock %}